<!-- views/admin/product-offers.ejs -->
<!DOCTYPE html>
<html lang="en">
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="https://image.ibb.co/n5gUtm/icon_1.png"
  />

  <head>
    <!-- Include necessary meta tags, title, and styles -->
    <!-- ... -->

    <title>Product Offers</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      h1 {
        text-align: center;
      }

      button {
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 20px;
        background-color: #4caf50;
        color: white;
      }

      table {
        width: 98%;
        border-collapse: collapse;
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 50px;
      }

      th,
      td {
        border: 1px solid black;
        color: black;
        padding: 8px;
        text-align: left;
      }

      th {
        background-color: #f2f2f2;
      }

      .edit-buttons {
        display: flex;

        margin-top: 20px;
      }

      .edit-buttons button,
      .edit-buttons input {
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
      }

      .edit-buttons button {
        background-color: #4caf50;
        color: white;
      }

      .edit-buttons input {
        width: 60px;
      }
      .pagination {
        margin-top: 20px;
        text-align: center;
      }

      .pagination a {
        display: inline-block;
        padding: 8px 16px;
        text-decoration: none;
        color: black;
        border: 1px solid #45a049;
        margin: 0 4px;
        border-radius: 4px;
      }

      .pagination a.active {
        background-color: #45a049;
        color: white;
      }

      .pagination a:hover {
        background-color: #45a049;
        color: white;
      }

      .pagination .disabled a {
        pointer-events: none;
        cursor: default;
        color: #ccc;
      }

      .pagination .disabled a:hover {
        background-color: transparent;
      }
      .search-container {
        text-align: center;
        margin-bottom: 20px;
      }
      .search-input {
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
        width: 400px;
        font-size: 14px;
      }
      button {
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 8px;
        background-color: #45a049;
        color: white;
        border: none;
        font-size: 14px;
      }
      .search-input:hover,
      .search-input:focus {
        border-color: #45a049;
      }
      button:hover,
      .button:focus {
        background-color: #388e3c;
      }
      .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
      }

      /* Modal Content */
      .modal-content {
        background-color: #41a9d5;
        color: black;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
      }

      /* Close Button */
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <div id="customModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeCustomModal()">&times;</span>
        <p id="customModalMessage"></p>
      </div>
    </div>

    <!-- Header section -->
    <h1>Product Offers</h1>
    <a href="/adhome"><button>Home</button></a>

    <!-- Search container -->
    <div class="search-container">
      <input type="text" id="searchInput" placeholder="Search products" />
      <button onclick="searchProducts()">Search</button>
    </div>

    <!-- Product offers table -->
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Offer Percentage</th>
          <th>Start Date</th>
          <th>Expiry Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% productData.forEach(product => { %>
        <tr>
          <td><%= product.productName %></td>
          <td>
            <input
              type="number"
              id="offerInput_<%= product.productId %>"
              value="<%= product.offerPercentage %>"
              placeholder="Increase %"
              min="0"
              max="99"
            />
          </td>
          <td>
            <input
              type="date"
              id="startDateInput_<%= product.productId %>"
              value="<%= product.startDate %>"
            />
          </td>
          <td>
            <input
              type="date"
              id="expiryDateInput_<%= product.productId %>"
              value="<%= product.expiryDate %>"
            />
          </td>
          <td>
            <div class="edit-buttons">
              <button onclick="editProductOffer('<%= product.productId %>')">
                Update
              </button>
              <button
                style="background-color: red"
                onclick="deleteProductOffer('<%= product.productId %>')"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="pagination">
      <a
        href="?page=<%= currentPage - 1 %>"
        class="<%= currentPage === 1 ? 'disabled' : '' %>"
        >Previous</a
      >
      <% for (let i = 1; i <= 3; i++) { %>
      <a href="?page=<%= i %>" class="<%= currentPage === i ? 'active' : '' %>"
        ><%= i %></a
      >
      <% } %>
      <a
        href="?page=<%= currentPage + 1 %>"
        class="<%= currentPage === totalPages ? 'disabled' : '' %>"
        >Next</a
      >
    </div>

    <script>
      function openCustomModal(message) {
        const modal = document.getElementById("customModal");
        const modalMessage = document.getElementById("customModalMessage");

        modalMessage.textContent = message;
        modal.style.display = "block";
      }

      // Function to close the custom modal
      function closeCustomModal() {
        const modal = document.getElementById("customModal");
        modal.style.display = "none";
      }
      // Include the existing script for searching, editing, and deleting offers
      // ...

      function searchProducts() {
        const searchQuery = document.getElementById("searchInput").value;
        const url = `/admin/productoffer?page=1&search=${encodeURIComponent(
          searchQuery
        )}`;
        window.location.href = url;
      }

      function editProductOffer(productId) {
        const currentDate = new Date().toISOString().split("T")[0];

        const startDateInput = document.getElementById(
          `startDateInput_${productId}`
        );
        const editedStartDate = startDateInput.value;

        const expiryDateInput = document.getElementById(
          `expiryDateInput_${productId}`
        );
        const editedExpiryDate = expiryDateInput.value;

        if (editedStartDate < currentDate) {
          openCustomModal("Start Date cannot be set to a date before today.");
          return;
        }

        if (editedExpiryDate < currentDate) {
          openCustomModal("Expiry Date cannot be set to a date before today.");
          return;
        }

        const offerInput = document.getElementById(`offerInput_${productId}`);
        const existingPercentage = parseInt(offerInput.value, 10) || 0;

        fetch(
          `/admin/edit-product-offer/${productId}/${editedStartDate}/${editedExpiryDate}/${existingPercentage}`,
          {
            method: "PUT",
          }
        )
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              openCustomModal(
                `The Offer for ${productId} updated successfully`
              );
            } else {
              openCustomModal(
                "Error updating product offer. Please try again."
              );
            }
          })
          .catch((error) => {
            console.error("Error:", error);
            alert("An error occurred. Please try again.");
          });
      }

      function deleteProductOffer(productId) {
        if (
          confirm(
            `Are you sure you want to delete the offer for product ${productId}?`
          )
        ) {
          fetch(`/admin/delete-product-offer/${productId}`, {
            method: "DELETE",
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                openCustomModal(
                  `Offer for product ${productId} deleted successfully`
                );
                window.location.reload();
              } else {
                openCustomModal("Error deleting offer. Please try again.");
              }
            })
            .catch((error) => {
              console.error("Error:", error);
              alert("An error occurred. Please try again.");
            });
        }
      }
    </script>
  </body>
</html>
